[2015-10-08 14:28] moonso opened #1 "Add transcript table to variant view"

[2015-10-08 14:29] moonso opened #2 "Add SIFT and POLYPHEN to variant view"

[2015-10-08 14:31] moonso opened #3 "Add Most Severe Consequence to variant view"

[2015-10-09 06:13] robinandeer opened #4 "Vue + Bootstrap"
This looks promising

http://yuche.github.io/vue-strap/#getting-started

[2015-10-09 11:58] moonso opened #6 "Convert HGNC symbols to OMIM id:s"
Make some easy solution for this

[2015-10-09 12:01] moonso opened #7 "Add support for compounds"
[code]

[2015-10-12 05:54] #6 closed

[2015-10-12 05:54] #7 closed

[2015-10-12 05:55] #1 closed

[2015-10-12 05:58] #3 closed

[2015-10-12 06:03] moonso opened #10 "Add support for genetic models"

[2015-10-12 06:34] #10 closed

[2015-10-12 06:50] moonso opened #13 "Add filter for thousand genome frequency"

[2015-10-12 17:30] robinandeer opened #14 "Parse out ENSG id for each gene"
A lot of the external links depend on it

[2015-10-12 17:40] robinandeer commented on #2
I've added it on a transcript level
Reopen if we should parse out the most severe predictions

[2015-10-12 17:40] #2 closed

[2015-10-12 18:20] moonso commented on #14
Sure

[2015-10-12 18:58] robinandeer opened #16 "Interesting edge case in OMIM"
Was writing tests when I came across this one... I think you understand the molecular stuff better than me!

This is the original gene:
http://www.omim.org/entry/616171?search=MCCRP2&highlight=mccrp2

Which in the JSON is linked to:
http://www.omim.org/entry/605031

But that is another gene PLK4 :/

[2015-10-12 19:03] moonso commented on #16
What you say is the original gene is not a gene but a phenotype...

[2015-10-12 19:04] #13 closed

[2015-10-13 05:58] robinandeer commented on #16
I really have no idea what is means biologically :P

[2015-10-13 11:58] #16 closed

[2015-10-13 13:43] dnil opened #19 "Latest master breaks on fetching mim_nr?"
Thank you kindly! But I now have trouble looking at any variant instead? Lookup on mim_nr seems to fail? Sth wrong with that last new_omim_list? I did have a couple of build issues along the way, but they don't seem to be showstoppers.

[code]

Also had a couple of issues during pip install (using otto dev) now compared to before:
[code]

Also, as before, during npm install:

[code]

[2015-10-13 19:02] moonso commented on #19
Closed by #20

[2015-10-13 19:02] #19 closed

[2015-10-13 19:03] moonso opened #21 "Problems with testing blueprints"
@robinandeer I get the following error when running tests:

[code]

[2015-10-14 09:23] moonso commented on #21
Needed to to ```pip install -r requirements/dev.txt```

[2015-10-14 09:23] #21 closed

[2015-10-14 09:24] moonso commented on #14
Closed by #18

[2015-10-14 09:24] #14 closed

[2015-10-14 19:08] moonso opened #23 "Write a mongo adapter"

[2015-10-14 19:11] moonso opened #24 "Expand the cli"
- [x] ```puzzle view --family <ped_file> -t [ped|alt|mip] <vcf_file> ```
- [x] ```puzzle view <dir or database>```

Load will only be available for the mongo plugin i guess

[2015-10-14 19:50] moonso opened #25 "Allow search with gene symbol(s)"

[2015-10-14 19:51] moonso opened #26 "Allow filter on cadd score"

[2015-10-14 19:52] moonso opened #27 "Dynamic Filters?"
Is it possible to open different filters depending on what frequencies that are used?

[2015-10-15 09:21] robinandeer opened #28 "is_loss_of_function filter"
A box

http://gemini.readthedocs.org/en/latest/content/functional_annotation.html
funktionella termer

[2015-10-16 09:17] moonso opened #31 "Write a gemini adapter"

[2015-10-16 09:18] moonso opened #32 "Search through all cases"
We should think of a solution for how to do searches for all variants in all cases.
When using the gemini- and mongo adapters this will be straightforward, we just need to figure out how the interface can handle this.

[2015-10-16 09:19] moonso opened #33 "Filter on genetic models"
- [x] Interface
- [ ] Backend

[2015-10-16 14:27] #25 closed

[2015-10-16 14:33] robinandeer opened #35 "Return 30 first variants that match a filter in adapter"
The VCF adapter only considers the first 30 variants when applying the gene list filter. It should display the first 30 variants that match the filter

[2015-10-16 14:35] #35 closed

[2015-10-20 20:44] moonso opened #37 "Start a proper documentation"
How about mkdocs:)

[2015-10-20 20:44] #31 closed

[2015-10-21 16:35] robinandeer commented on #37
Yeah, it's good enough to start with!

[2015-10-22 11:14] robinandeer opened #39 "Flask Freeze"
To create independent folder of sharable results

[2015-10-22 12:36] Bianca-T opened #40 "Help needed running puzzle tests"
Hi,

I wanted to have a look at puzzle but got the following error:
![screen shot 2015-10-22 at 14 33 16](https://cloud.githubusercontent.com/assets/5881356/10665231/00cfb32a-78ca-11e5-9100-33f914020c35.png)

Puzzle is correctly installed.

Can you help me?

Thanks,
Bianca

[2015-10-22 12:55] moonso commented on #40
Hi Bianca, glad you are testing!

The documentation is not really up to date, if you run ```puzzle --help``` you will see:

[code]

so you need to use the command ```view``` to test it.
If you want to run on the test data do
[code]

Or you can point on another directory with your own files.

If you want to try with a gemini database do
[code]

Good luck!

[2015-10-22 13:26] Bianca-T commented on #40
:+1:

[2015-10-22 13:26] #40 closed

[2015-10-24 11:04] moonso opened #41 "Comments, actions etc"
Write a sqlite database to deal with events similar to scout.
The database should be created first time a event is made.

[2015-10-26 21:15] moonso opened #42 "Add a "Family" column to the variant call table on variant level"
This will make it more clear if we are looking at information from several families.
This would apply to inheritance models and rank score to, but we might only show that when several families are considered at the same time...

[2015-10-27 09:45] moonso opened #44 "Mark affected cases with color in genotype table on variant view"
A ```Case``` will have ```self['individuals']```and a ```Individual``` will have ```individual['phenotype']```.
Just do:

[code]

[2015-10-27 17:58] moonso opened #45 "Should be possible to point directly to a vcf file"
puzzle fails if not pointing to directory when using the vcf adapter

[2015-10-28 20:39] robinandeer commented on #26
- [x] add filters to interface
- [ ] add filters to plugin

[2015-10-28 20:40] robinandeer commented on #27
We would solve this by only focusing on a global frequency filter, right?

[2015-10-29 08:47] robinandeer commented on #28
I've added the SO terms but I'll think about how to include LOF

[2015-10-29 08:47] robinandeer commented on #33
I've added a filter in the interface :)

[2015-10-29 08:48] robinandeer commented on #37
Did you start a branch with this?

[2015-10-29 08:56] robinandeer commented on #39
Not sure this is what we want actually, we still want to handle large VCFs and stuff :)

[2015-10-29 08:56] #39 closed

[2015-10-29 15:23] moonso commented on #27
That one is decided but I mean that the gemini-adapter for example might have different functionality than the vcf adapter etc...

[2015-10-29 15:25] moonso commented on #26
:+1: it is solved for gemini but i will fix it for the other adatpers

[2015-10-29 15:28] moonso commented on #28
They map the terms to LOF so we can just keep a copy if that map in puzzle and use it for the other adapters to

[2015-10-29 16:30] moonso commented on #33
Nice I'll have a look soon!

[2015-10-29 16:32] moonso commented on #37
No I just started to update mkdocs.yml and index, it is in in the branch [add_ped_support](https://github.com/robinandeer/puzzle/tree/add_ped_support)

[2015-10-30 13:36] robinandeer commented on #44
I use `individual.affected` but it's the same I guess

[2015-10-30 13:40] robinandeer commented on #42
Will you add this to the call or should it be fetched from the ped information?

[2015-10-30 13:42] moonso commented on #44
sure

[2015-10-30 13:43] moonso commented on #42
We can add it to the call, search for family_id

[2015-10-30 16:25] moonso commented on #33
What terms do you use for the different models?

[2015-10-30 16:53] moonso opened #46 "Write a test setup of gemini for travis"

[2015-10-31 09:56] robinandeer commented on #33
Short versions like in Scout: AR, AR_hom etc.

[2015-10-31 17:04] #26 closed

[2015-10-31 17:04] moonso opened #48 "Write tests for gemini plugin"

[2015-10-31 17:42] moonso commented on #33
Ok so how should we send this and functional filter to adapter? Is it with a list?

[2015-10-31 17:54] moonso commented on #27
Let's close this until we get some ideas of how to do it

[2015-10-31 17:54] #27 closed

[2015-11-01 13:02] #37 closed

[2015-11-02 10:01] robinandeer commented on #33
Yes :+1:

[2015-11-15 21:22] robinandeer opened #50 "Flask-Bootstrap"
Might be worth it :)
https://pythonhosted.org/Flask-Bootstrap/faq.html

[2015-11-15 21:24] robinandeer opened #51 "Refector filter form"
Use this: http://formvalidation.io/examples/bootstrap-multiselect/
It will come in handy for the lists of functional annotations etc.

[2015-11-16 08:36] robinandeer opened #52 "Adapter API update: filters"
- [x] implement properties for checking which filters are available
- [x] can_filter_inheritance
- [x] can_filter_functional
- [x] can_filter_gene
- [x] can_filter_frequency
- [x] can_filter_sv
- [x] can_filter_cadd
[code]

Or something

[2015-11-16 10:06] #45 closed

[2015-11-16 10:06] #51 closed

[2015-11-16 10:06] robinandeer commented on #48
This is started/completed, right?

[2015-11-16 10:06] #46 closed

[2015-11-16 10:07] moonso commented on #48
Yes

[2015-11-16 10:07] #48 closed

[2015-11-16 10:07] moonso commented on #46
:bird:

[2015-11-16 10:08] robinandeer commented on #44
I've highlighted the affected samples, can be improved in the future tho

[2015-11-16 10:08] #44 closed

[2015-11-16 10:08] #42 closed

[2015-11-24 15:36] moonso opened #53 "Display case.name instead of case.case_id"
@robinandeer seems like we display the wrong id in some places, at least on the case overview page

[2015-11-25 10:07] #24 closed

[2015-11-25 10:07] #53 closed

[2015-12-09 08:38] moonso opened #55 "Add support for snpeff annotations"

[2015-12-09 08:38] moonso opened #56 "Add suport for svs"

[2015-12-09 12:12] moonso opened #57 "Get more data from VEP"
If variant misses annotations such as ```1000GAF``` puzzle should search VEP annotation for this information.

[2015-12-09 12:28] moonso commented on #56
Fixed by #58

[2015-12-09 12:28] #56 closed

[2015-12-10 07:31] moonso opened #59 "Enable use of HPO and MIM terms on individual level"
This will only work when a database has been initialized so we have to implement that first

[2015-12-10 20:53] moonso opened #60 "Local IGV"
Link from position to local igv.
Should only work if the user has started IGV and loaded bam files.

[2015-12-10 20:55] #60 closed

[2015-12-10 20:58] moonso opened #61 "Add SV analysis mode"
We should allow the user to specify SV analysis mode.
When in this mode the overview and variant page will look a bit different since the variants are completely different.

[2015-12-10 21:00] moonso commented on #61
## SV overview:

- [ ] sv-type
- [ ] Limit the viewing of number of genes overlapped(for large svs)
- [ ] Column with number of genes overlapped
- [ ] Column with size
- [ ] Remove consequence, 1000G, CADD

[2015-12-10 21:01] moonso commented on #61
## SV variant view

- Sv-type
- pos
- end
- Switch transcript table to gene table ```|Gene id|Location|Description|Omim|Morbid|DDGP2|HapploInsufficiency(HI) score|```

[2015-12-10 21:02] moonso commented on #61
##Filters

- types
- size
- inter/intrachromosomal
- Ovelapping genes(nr of genes overlapped)

[2015-12-10 21:06] vasiliosz commented on #61
Haploinsufficiency scores are here as `Table S1`: http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1001154#s5
Functional gene constraint (from ExaC) here: ftp://ftp.broadinstitute.org/pub/ExAC_release//release0.3/functional_gene_constraint/forweb_cleaned_exac_r03_march16_z_data_pLI.txt

[2015-12-11 09:01] moonso commented on #61
:+1:

[2015-12-13 09:16] moonso opened #62 "Add SV filters"
## Filters

- [ ] types
- [ ] size, only show events larger that given size
- [ ] inter/intrachromosomal
- [ ] Ovelapping genes(nr of genes overlapped)

[2015-12-13 13:58] #61 closed

[2015-12-14 11:30] #52 closed

[2015-12-14 11:30] #62 closed

[2015-12-14 11:32] moonso opened #66 "Flask-MongoEngine"
https://flask-mongoengine.readthedocs.org/en/latest/

[2015-12-14 14:47] vasiliosz opened #68 "SV filtering comments"
Hej @moonso,

The new SV filters work nicely. Two quick thoughts:

* Dynamic population of SV types in filter.
For example, if only types DEL, INV and BND exist in my VCF - the other filter options should not be there.

* Show total vs filtered count.
This is important I think. Since you're only loading 31 variants at a time, it will be useful to know how many variants I've matched in my filter (v

[2015-12-14 18:22] moonso commented on #68
The problem with your first suggestion is that one has to parse through the whole file for this functionality, which would take some time if there are millions of variants.
We could look at the vcf header but it is not always correct.

For the second thing we could try to implement it ands how it works.
Where and how should we display the result?

[2015-12-14 18:22] vasiliosz opened #69 "Incomplete HGNC to EnsemblID"
There are lots of gene symbols that do not get a matching Ensembl ID (that should) in the variant view.

Are they collected from `resources/hgnc_to_omim.json`? Is it only OMIM genes that then get EnsemblIDs also?

[2015-12-14 18:26] vasiliosz commented on #68
OK, I understand for the first one.

For the second it can be as simple as alerting the user to the fact that _some_ filter is active. Like:
<img width="1180" alt="inklistrad_bild_14_12_15_19_24" src="https://cloud.githubusercontent.com/assets/6449441/11789774/89d614f0-a298-11e5-8234-4a8ed70d4159.png">

[2015-12-14 19:00] moonso commented on #69
Yes there are only omit genes there.
We are working on another package that will include all the details that we want.

[2015-12-15 08:36] moonso commented on #69
Waiting for recourses from @ingkebil

[2015-12-15 12:48] moonso opened #71 "Checkout svviz"
http://svviz.github.io/svviz/

[2015-12-15 12:50] moonso commented on #71
What do you think @dnil , @vasiliosz , @Bianca-T ?

[2015-12-15 12:53] dnil commented on #71
I'll include Pall Olason and Jesper Eisfeldt to help with memory! We did test it briefly way-back-when. I seem to recall it being somewhat slow, and not able to find the variants we tried to feed it? But, it sure looks pretty!

[2016-01-20 13:39] moonso commented on #69
Fixed now since we use [phizz](https://github.com/moonso/phizz)

[2016-01-20 13:39] #69 closed

[2016-01-28 08:58] moonso opened #74 "Add individuals to index page"
We should have a link to apage that shows all individuals found in the database

[2016-01-29 10:29] moonso commented on #59
Ok database is initialized so lets make a new branch where we use the same functionality as scout!

[2016-01-31 18:49] vasiliosz opened #76 "Run issues after last merge (puzzle init)"
After #70 merge, base `puzzle` cmd is not working for me. Commit 483557d9cb506cd72ff7eba1605c7d479b2b3c03 works.

1) Missing requirement for sqlalchemy

[code]

2) After installing sqlalchemy separately, new error (on new clone now): Can't find gemini plugin
[code]

[2016-01-31 20:24] moonso commented on #76
Thank you Vasilios

[2016-01-31 20:32] moonso commented on #76
Fixed in #77

[2016-01-31 20:32] #76 closed

[2016-02-01 09:09] #55 closed

[2016-02-01 10:21] moonso opened #78 "Allow viewing and variant sources without individuals"
It should be possible to view data without individuals and FORMAT information

[2016-02-01 12:24] moonso opened #80 "Plugin for Chanjo"
One should be able to point to a chanjo database and get chanjo reports from the case/individual/variant view

[2016-02-01 13:39] #59 closed

[2016-02-01 13:43] robinandeer opened #82 "Update selectpicker to accept multiple in variants filter"
Macro is now: `select_input(name, items, selected, multiple=False)`

[2016-02-01 14:06] Bianca-T opened #83 "How to use Puzzle?"
Hi,

I updated to the newest version of puzzle, and I can't find outhow to load a VCF in SV mode.
Can you update the usage examples?

Thanks,
Bianca

[2016-02-01 15:43] vasiliosz commented on #83
The `-t` option seems to be bound twice now, to snv/sv and "family type":

https://github.com/robinandeer/puzzle/blob/master/puzzle/cli.py#L28-L32
and
https://github.com/robinandeer/puzzle/blob/master/puzzle/cli.py#L104-L107

Previously the option was `-m sv` I think

[2016-02-01 17:24] moonso commented on #83
Yes it is hard to make up unique one-letter flags...
The interface is a bit different now since the last update, please try `puzzle init` and `puzzle load`!
The command for viewing a vcf file with sv variants is now:
```puzzle -t sv view -i path/to/file.vcf```

[2016-02-01 17:26] moonso commented on #83
Sorry about that, we will have a more stable version of puzzle with documentation within a few weeks...

[2016-02-01 18:15] vasiliosz commented on #83
Great!

`puzzle init`
`puzzle load`
`puzzle delete -f myfam1`

..all work nicely.

However, it defaults to loading them in `snv` mode. And the `-t` flag is already busy in the `puzzle load` cmd as mentioned. Running `puzzle -t sv view` after that doesn't matter it seems - still shows snv mode

[code]

[2016-02-01 18:50] moonso commented on #83
The idea is to specifythat when loading, it should look like:
```puzzle -t sv load -i ... -f ...```

Then just `puzzle view`

[2016-02-01 19:51] vasiliosz commented on #83
Thanks, I didn't realize the `-t` option had to go before load. Now it works

[2016-02-01 20:01] moonso commented on #83
:+1:

[2016-02-01 20:01] #83 closed

[2016-02-02 10:04] Bianca-T commented on #83
Thanks it works!!

[2016-02-03 08:30] moonso opened #85 "Filters are slow with vcf adapter"
Some filters are way to slow with vcf adapter, this probably have to do with that we build the whole variant object before we start to do the filtering.

[2016-02-03 08:47] vasiliosz commented on #85
+1

A gene search in a two-sample SV VCF (~6000 vars) took 10 min.
In a 12-sample VCF with >1M vars it didn't finish in at least 30min.

I understand you plan to load them into the db(?), but would a "grep-like" approach work in cases where just a VCF is provided? (And the build the object based on the returned lines)

Alternatively, if the VCF is tabixed you could convert the gene to coordinates

[2016-02-03 08:47] vasiliosz commented on #85
Too slow :)

[2016-02-03 08:53] #85 closed

[2016-02-03 09:29] robinandeer opened #87 "New filter: by variant_id"
to speed up getting a single variant

[2016-02-03 09:30] robinandeer opened #88 "Export gene list"
Download from web interface

[2016-02-03 10:07] #88 closed

[2016-02-03 10:07] #82 closed

[2016-02-03 10:08] #33 closed

[2016-02-03 10:11] moonso commented on #85
Have you tried the new update? Still that slow?

[2016-02-03 10:12] robinandeer opened #89 "More robust way to locating "resources""
It doesn't seem to start puzzle from any location at the moment, no?

It tries and fails to find "resources" files I've noticed

[2016-02-03 10:17] moonso commented on #85
I have a file from you with 6000 variants where a gene search only takes a couple of seconds...

[2016-02-03 10:59] vasiliosz commented on #85
Will try!

Skickat från min iPhone

[2016-02-03 11:33] guillermo-carrasco opened #90 "Variants Table manipulations"
Would be nice to have some extra functionalities to work with the variants table. Some suggestions would be:

* [x] Sort rows by column value
* [x] Reorder columns
* [ ] Pre-set what's visible by default (maybe through config?)
* [x] Hide/show columns
* [ ] Search

I'll try to tackle this with [datatables](https://www.datatables.net/extensions/colreorder/examples/integration/colvis.html) and submi

[2016-02-03 11:39] brainstorm commented on #90
No dice with plain boostrap and plugins, go datatables! ;)

[2016-02-03 11:55] robinandeer opened #91 "Refactoring"
This is an effort to go over the code base and re-think some of the structure in a future proof way. We will also focus on test coverage for smaller subunits at the same time.

**Topics**
- [x] Server code/Flask @robinandeer
- [x] Models @moonso
- [x] GEMINI adapter @moonso
- [x] VCF adapter @moonso
- [x] SQL adapter @robinandeer
- [x] Utils @moonso
- [x] CLI + logging @moonso

Feel free to assign

[2016-02-03 12:21] vasiliosz commented on #90
Hi, I agree with this. I added a simple version of it to an earlier version in #64.

One limitation currently would be that only one "page" if variants are loaded together - limiting the use of sorting at this overview page

[2016-02-03 12:22] guillermo-carrasco commented on #91
If you're planning to do some kind of intense one-day kick-off hackathon, I'd love to attend :-)

[2016-02-03 12:29] guillermo-carrasco commented on #90
Hi @vasiliosz ,

We saw your PR just after creating this issue :sweat_smile: . Great work!

How could we sole the pagination problem? @brainstorm suggests that we could, for example, do the searching queries server-side and return the result to the browser for sorting. You loose the ability to do incremental or fuzzy searching though.

Any ideas?

[2016-02-03 12:44] robinandeer commented on #91
I'm not complaining :dancer:

[2016-02-03 13:22] robinandeer commented on #90
If you pass data over AJAX then you can still implement fuzzy searching :wink:

[2016-02-03 13:27] guillermo-carrasco commented on #90
even if not all the data is loaded in the browser? hmm. i.e, solves AJAX the problem exposed by @vasiliosz ?

[2016-02-03 13:34] robinandeer commented on #90
Well no, not in any straightforward manner :/

But for submitting questions are repopulating the current list, filtering it would work I think

It's not so bad to re-render the list server side if you want to sort ALL variants based on some column I think

[2016-02-03 13:37] guillermo-carrasco commented on #90
Yeah I think alike, its not a big deal wither to loose this search-as-you-type functionality. :+1:

[2016-02-03 13:46] vasiliosz commented on #90
I agree, free text search as implemented in dataTables is not important for variant lists (because there is very little text generally). If there is more phenotype info or other text-based data added, then yes.

Related: maybe the gene filter can be made as a "typeahead"?

Skickat från min iPhone

[2016-02-03 14:03] robinandeer commented on #90
The bottleneck for the gene search is parsing the unwieldy INFO field. @moonso has just made some optimisations tho :)

But it would be interesting to investigate if we could pull of some nifty "typeahead" filters! Perhaps as long as we can generate most of the templates still on the server.. PJAX anyone? :sweat_smile:

[2016-02-03 17:47] vasiliosz commented on #85
Takes ~20-25s for one gene in a VCF with >1M variants now  (MBP15" i7). Much better @moonso!

[2016-02-03 18:21] vasiliosz opened #92 "Gemini install not detected"
Is the error message wrong or is puzzle truly not detecting my gemini install?

[code]

[2016-02-03 22:30] moonso commented on #85
:+1:  is that ok for you?

[2016-02-03 22:32] moonso commented on #92
You need to have the python distribution of gemini.
To check, try this
[code]

[2016-02-04 07:47] vasiliosz commented on #85
Its workable I think.

However, if I load more variants (after the top 31) - it will actually redo the search. So it will be painful to wait up to 30s per page load if you scroll through many of them. I guess it's related to the discussion in #90

[2016-02-04 08:08] vasiliosz commented on #92
Thanks! Had to `pip install gemini` separately from the main install.

[2016-02-04 08:08] #92 closed

[2016-02-04 08:10] vasiliosz opened #93 "Fail on gene list upload"
Returns server error on gene list upload. The file is uploaded however, and the list is there when you go back and reload the page.

[code]

[2016-02-04 08:12] vasiliosz commented on #90
The typeahead for gene search could be a pre-populated list, since there are a limited set of terms = genes one could search for.

[2016-02-04 08:16] moonso commented on #93
We fixed this yesterday, not sure if @robinandeer pushed it?

[2016-02-04 08:23] vasiliosz opened #94 "Consequence filtering failing with gemini adapter"
(Sorry about positing a bunch of these - finally have time to test some things)

Gemini variants load nicely. Frequency filtering and gene list filtering work well. Very nice work!

But not consequence filtering, see below.

Also - to avoid adding lots of terms for filtering effects, in gemini we often use the LOW, MEDIUM, HIGH impact categories as summary terms (`impact_severity`). There is a det

[2016-02-04 08:25] vasiliosz commented on #93
I'm on master @ b9bd5473df12b31483d148ae2ae4f8c7a400be62

[2016-02-04 08:46] henrikstranneheim opened #95 "HPO term does not load"
It would be nice to get feeedback if the HPO term does not exist in the Phizz db.

[2016-02-04 08:59] henrikstranneheim opened #96 "Compounds should be sorted on score in descending order"

[2016-02-04 09:01] henrikstranneheim opened #97 "Genes field does not scale - at least in firefox"
![screen shot 2016-02-04 at 10 00 35](https://cloud.githubusercontent.com/assets/584738/12810387/34a32b60-cb26-11e5-9e1f-d81c9209d0f7.png)

[2016-02-04 09:05] henrikstranneheim opened #98 "Sometimes a the HGNC_symbol is missing from the overview"
![screen shot 2016-02-04 at 10 03 23](https://cloud.githubusercontent.com/assets/584738/12810469/be338d7a-cb26-11e5-90f9-1a19682094c4.png)
![screen shot 2016-02-04 at 10 04 15](https://cloud.githubusercontent.com/assets/584738/12810478/c5e65098-cb26-11e5-9b6b-9e0e28a8b1fb.png)

But exists in the variant entry

[2016-02-04 11:05] vasiliosz opened #99 "PED requirements too conservative?"
I think the PED requirements are a bit too strict.
We often use >6 columns to add additional phenotype info - as this can be used for filtering variants in gemini in larger families/cohorts.

Can ped_parser just ignore additional columns instead of throwing an error?

[code]

[2016-02-04 11:15] moonso commented on #99
You can use the flag
```--family_type alt``` in this case

[2016-02-04 11:18] moonso commented on #98
Ok that looks wierd, I'll have a look

[2016-02-04 11:20] moonso commented on #96
Should be done in the interface, right @robinandeer ?

[2016-02-04 11:20] moonso commented on #95
We can try to add this

[2016-02-04 11:22] moonso commented on #94
Ok I know why this is happening, will fix asap

[2016-02-04 11:23] moonso commented on #93
Ok let's just wait for @robinandeer patch

[2016-02-04 11:25] moonso commented on #89
Ok let's read up on this and fix it

[2016-02-04 11:27] #99 closed

[2016-02-04 11:28] #41 closed

[2016-02-04 11:48] henrikstranneheim opened #100 "puzzle load -i option shows twice in --help"
Options:
  -i, --variant-source PATH    [required]
  -f, --family_file FILENAME
  -t, --family_type [ped|alt]  If the analysis use one of the known setups,
                               please specify which one.
  -i, --variant-source PATH    [required]

[2016-02-04 11:50] henrikstranneheim opened #101 "Add default setting to option in --help output"
For example here:
Options:
  -m, --mode [vcf|gemini]
  -t, --variant-type [snv|sv]  If Structural Variantion or Single Nucleotide
                               variant mode should be used

[2016-02-04 12:46] vasiliosz commented on #99
:+1:

[2016-02-04 12:58] robinandeer commented on #85
After "load more" we should skip ahead in the loop - can you do this in the adapter before your optimizations, @moonso?

[2016-02-04 13:00] robinandeer commented on #90
There are AJAX solutions if we have a database of genes (@moonso: phizz?)

@vasiliosz: do you mean a list on the client side? Would that be memory intensive?

[2016-02-04 13:02] robinandeer commented on #96
depends on where the logic is easiest to test and maintain but I'll look into it, shouldn't be to difficult (until we want to show them as popups as in Scout at least)

[2016-02-04 13:02] robinandeer commented on #96
Could perhaps be in the model as well

[2016-02-04 13:07] robinandeer commented on #74
Yep, and this is where you would select a custom "case"

But it could probably fit on the same page as cases, perhaps using tabs?

[2016-02-04 19:22] moonso commented on #93
Fixed in #102

[2016-02-04 19:22] #93 closed

[2016-02-04 19:39] vasiliosz commented on #90
Yeah I meant client-side - not sure how heavy that is. I've only used [selectize.js](http://selectize.github.io/selectize.js/) through R/Shiny for small apps. That is actually not really a typeahead, but more a multi-picker that allows search (in practice very similar).

Another option is [typeahead.js](https://twitter.github.io/typeahead.js/) with "prefetch" to actually store the list in the brow

[2016-02-04 21:29] #57 closed

[2016-02-04 21:37] moonso commented on #94
This is somehow related to #28 . I'm working on a branch to add this filter

[2016-02-04 22:33] vasiliosz opened #106 "SV mode html templates not rendered (for "loaded" cases)"
Regardless if in `sv` or `snv` mode, its always the html templates for snvs that are being rendered.

Example:
[code]
But my view is:
<img width="1155" alt="inklistrad_bild_04_02_16_23_16" src="https://cloud.githubusercontent.com/assets/6449441/12831562/580a4268-cb95-11e5-9084-2cadc773009b.png">

I tried tracking it down by adding some logging:
In `variants()` from `views.py`
[code]

Which shows t

[2016-02-05 09:10] vasiliosz opened #107 "puzzle individuals failing"
[code]

[2016-02-05 09:34] vasiliosz opened #108 "VEP REST interface for added/missing info in variant view?"
http://rest.ensembl.org

<img width="1232" alt="inklistrad_bild_05_02_16_10_33" src="https://cloud.githubusercontent.com/assets/6449441/12842586/02e244ac-cbf4-11e5-8311-5c0cf775155f.png">

[2016-02-05 10:02] moonso opened #109 "Parse Manta vcf:s"
Skip ALT fields that include '>' or '<'

[2016-02-05 10:04] moonso commented on #106
There is something wrong when the store adapter sets SV mode...

[2016-02-05 10:04] robinandeer commented on #108
https://pypi.python.org/pypi/pyensemblrest

[2016-02-05 10:05] moonso commented on #100
We should remove 'i' and let it be an argument instead

[2016-02-05 10:33] #106 closed

[2016-02-05 10:33] #109 closed

[2016-02-05 11:05] henrikstranneheim opened #111 "How about a clear all filters button?"

[2016-02-06 05:56] robinandeer commented on #101
Solution is to add `show_default=True` as an option :)

See here: https://github.com/mitsuhiko/click/issues/518#issuecomment-180490926

[2016-02-06 08:24] moonso commented on #101
Of course it was there already, it's mitsuhiko!!

[2016-02-06 11:38] henrikstranneheim commented on #101
👍

Skickat från min iPhone

[2016-02-06 13:58] moonso opened #113 "Add options for each subcommand"
Each subcommand should have access to all of its option.

Now:
[code]
Should be:
[code]

[2016-02-06 13:59] moonso opened #114 "Not use option -i for infiles when it is mandatory"
It should be an argument instead

[2016-02-07 08:37] moonso opened #115 "Refractor CLI"
The CLI should be splitted and located in a module

[2016-02-07 09:22] moonso opened #116 "Allow loading of families without ped file"

[2016-02-07 16:52] robinandeer commented on #91
Flask structure, some inspiration:

- [ ] https://github.com/masom/bluemonk/blob/master/bluemonk/views/helpdesk.py
- [ ] https://github.com/mattupstate/overholt
- [ ] https://github.com/mbr/flask-bootstrap/tree/master/sample_app :+1:
- [ ] https://github.com/mbr/flask-debug
- [ ] https://pythonhosted.org/Flask-Bootstrap/nav.html

[2016-02-08 08:00] guillermo-carrasco commented on #101
Awesome, this is good to know, thanks @robinandeer !

[2016-02-08 08:03] guillermo-carrasco commented on #113
I personally like having specific options for specific subcommands, and I think its a design choice its this way. I guess its a matter of taste though. Just be sure that the user can't see options that cannot be used by the subcommand she is using. :-)

[2016-02-08 08:39] #94 closed

[2016-02-08 08:39] #100 closed

[2016-02-08 08:39] #101 closed

[2016-02-08 08:39] #107 closed

[2016-02-08 08:39] #113 closed

[2016-02-08 08:39] #114 closed

[2016-02-08 08:39] #115 closed

[2016-02-08 08:39] #116 closed

[2016-02-08 08:43] moonso commented on #96
Sure I can do this in the model

[2016-02-08 08:44] moonso commented on #89
Do we have any suggestions/examples on how to solve this one?

[2016-02-08 08:49] robinandeer commented on #89
yup, I have code in Chanjo that handles this:
https://github.com/robinandeer/chanjo/blob/master/chanjo/demo/cli.py

Also see `setup.py`

[2016-02-08 11:46] guillermo-carrasco commented on #91
Testing: I’ve noticed that you guys have created a file per function to test, at least in the utils module. That makes it difficult to know which functions are being tested in which submodules. Is that a pytest common practice? I would propose a file per module to test, within the file, a class per submodule. i.e for the utils module: `tests/utils/test_utils.py` (a bit redundant, could be `tests/t

[2016-02-08 12:25] guillermo-carrasco commented on #91
More concrete example: https://github.com/guillermo-carrasco/puzzle/commit/c6dcbdab89e2dcd6797c8dbcc2b4613ab831d602

[2016-02-08 12:40] moonso commented on #91
Looks great!

[2016-02-08 13:06] moonso opened #119 "Allow loading of extra materials to individuals"
Like molechular biology pictures etc.
These should be stored under the `root``dir

[2016-02-09 11:52] guillermo-carrasco opened #122 "Utils module refactoring/testing"
Just though on separating this one to not mix up with the general refactoring referred in #91

**Testing Utils module TODO list**

- [x] Test `constants.py`
- [x] Test `get_info.py`
    - [x] `get_gene_info`
    - [x] `get_most_severe_consequence`
    - [x] `get_cytoband_coord`
    - [x] `get_omim_number`
- [x] Test `ped.py`
    - [x]  `get_case`
    - [x] `get_individuals`
- [x] Test `phenomizer.

[2016-02-09 13:04] moonso commented on #122
Nice Guillermo! I'm so happy you guys have joined :chicken:

[2016-02-09 20:49] Bianca-T opened #123 "Multi-sample gemini database, all variants shown"
Hi,

I have used puzzle to load a multi-sample (both multiple trios and multiple individual samples).

When I click to look at the variants of a specific family, the variants are not specific for the family but all variants (also from all other samples in the database) are shown.

For example I attach the screenshot of a mutation that I know another sample of my cohort has. Still, it is reported i

[2016-02-09 21:12] Bianca-T opened #124 "Missing amino acid position"
Hi,

In the individual page for each variant it would be great to have HGVS nomenclature implemented for coding and splice site mutations (as in Scout).

A possibly faster alternative to implement is to have the number of the amino acid position in the transcript table.

Thanks,
Bianca

[2016-02-09 21:23] vasiliosz opened #125 "Missing variant info from freebayes VCF"
Using the VCF plugin. Variants are called by [freebayes](https://github.com/ekg/freebayes) and then annotated with VEP. Multiple fields seem to be missing here that are present in the VCF, but in alternative forms. `AD` field is not in the original file, but I think the `DP` (total coverage per sample) is still interesting to print out in that case.

Better, we can extend support for freebayes. So

[2016-02-10 05:35] vasiliosz commented on #125
Relevant lines are here, I think: [variant_mixin.py#L384-L400](https://github.com/robinandeer/puzzle/blob/master/puzzle/plugins/vcf/variant_mixin.py#L384-L400)

[2016-02-10 08:02] moonso commented on #123
Hello Bianca,

I have a test database with two families but have not experienced this.
We should meet and look at it together, do you have time to come here today?

[2016-02-10 08:02] moonso commented on #124
Ok, will look into this

[2016-02-10 08:03] moonso commented on #125
Sure, I will give it a go. Do you have a small example vcf? You can send it on slack or mail

[2016-02-10 08:04] moonso commented on #119
Closed by #120

[2016-02-10 08:04] #119 closed

[2016-02-10 08:28] henrikstranneheim opened #126 "default root dir seems to be different between 'init' and 'load'"
puzzle init
[2016-02-09 21:01:55,844] puzzle.cli.store          INFO     Root directory is: /Users/henrik/.puzzle

 puzzle load -f ~/Desktop/52_pedigree.txt ~/Desktop/52/52_sorted_smd_rreal_brecal_gvcf_vrecal_vt_vep_parsed_snpeff_ranked_BOTH.vcf
[2016-02-09 21:04:03,160] puzzle.cli.store          INFO     Root directory is: /Users/henrik
[2016-02-09 21:04:03,161] puzzle.cli.store          INFO

[2016-02-10 08:52] Bianca-T commented on #123
Hi Måns,

When would it work for you? for me best either before lunch or at 14.

/Bianca

[2016-02-10 13:31] #28 closed

[2016-02-10 13:31] #87 closed

[2016-02-10 14:53] moonso commented on #91
Refractor of CLI in #128

[2016-02-11 08:24] #126 closed

[2016-02-11 14:22] guillermo-carrasco opened #130 "How to implement - search and sort functionality for the variants"
Hi guys,

Opening this to have an open discussion about the topic, which is:

[This](https://gemini.readthedocs.org/en/latest/content/querying.html) stuff.

[GQL](https://github.com/genomejs/gql) comes in when you need to query large data sets (especially for genotype queries -- i.e., what percentage of my samples has a G at chr4:1234) which are painfully slow in Gemini (see http://biorxiv.org/con

[2016-02-12 07:45] robinandeer commented on #4
I think we can close for now

[2016-02-12 07:45] #4 closed

[2016-02-12 07:47] robinandeer commented on #32
Are we still targeting this for the VCF-adapter? Will tabix make this easier?

[2016-02-12 07:48] robinandeer commented on #50
I will include this in a new PR for adding things to the server code!

[2016-02-12 07:49] robinandeer commented on #66
I will include this as a sublist item in #23

[2016-02-12 07:50] #66 closed

[2016-02-12 08:14] robinandeer commented on #71
Does look pretty! :smile:

[2016-02-12 08:14] robinandeer commented on #74
I can do this too in the next server update

[2016-02-12 08:15] robinandeer commented on #89
Maybe for todays coding session?

[2016-02-12 08:16] robinandeer commented on #90
Are we done with this in the current implementation of datatables?

[2016-02-12 08:17] robinandeer commented on #95
I guess this is something for the server, no? I'll take lead on this

[2016-02-12 08:18] robinandeer commented on #96
Have you looked into this already @moonso? I guess the server will just continue as usual and not have to change anything, right?

[2016-02-12 08:18] robinandeer commented on #97
I'm on this!

[2016-02-12 08:18] moonso commented on #96
I agree but haven't looked at it yet.

[2016-02-12 08:21] robinandeer commented on #108
What about hacking on this feature together? I think it would give us a chance to think about our code and implement something significant :)

[2016-02-12 08:21] robinandeer commented on #111
On it as well :)

[2016-02-12 08:22] robinandeer commented on #123
What did you come up with during your meeting? Perhaps add some notes here?

[2016-02-12 08:31] moonso commented on #130
Hi,

I will try to answer these questions here. Even though it is hard when we don't know exactly you mean but I will do my best.
In general we reason like this:

- puzzle will have different modes similar to now
- different modes will have different functionality based on the backend
- the VCF backend will have most limits, the GEMINI backend will be able to do gemini stuff etc.
- we want to desi

[2016-02-12 08:36] moonso commented on #32
We can try to do it for the VCF adapter as well. One of the challenging things is how it should be visualized in puzzle. I have limited experience with these kind of analysis so if anyone else have ideas please post them!

[2016-02-12 08:37] moonso commented on #50
:+1:

[2016-02-12 08:38] moonso commented on #74
Super, we should also think of how we can add different ways of filter the individuals. We could start with HPO. So 'give me all individuals with HPO term x'.

[2016-02-12 08:39] moonso commented on #89
Agree, it is a perfect thing for today!

[2016-02-12 08:40] moonso commented on #90
Think @guillermo-carrasco and @vasiliosz should answer on that

[2016-02-12 08:41] moonso commented on #95
Yes server thing

[2016-02-12 08:42] moonso commented on #123
Sorry. Yes @Bianca-T noticed that there is a problem with what variants that show up when using the gemini adapter. I'm on this one :rooster:

[2016-02-12 08:43] moonso commented on #124
It has to do with what gemini extracts from vep/snpeff. We will try to get a more informative value to show.

[2016-02-12 08:56] #125 closed

[2016-02-12 09:22] moonso opened #133 "Gemini adapter Refractoring/Testing"
- [x] Test initializing with and without a db
- [x] Test test_gemini_db
- [x] Test case_mixin
    - [x] Test _get_individuals
    - [x] Test _get_cases
    - [x] Test individuals
    - [x] Test case
    - [x] Test cases
- [x] Test varant_mixin
    - [x] Test variant
    - [x] Test variants
    - [x] Test _get_genotypes
    - [x] Test _get_transcripts
    - [x] Test _variants
    - [x] Test _format

[2016-02-12 09:31] ohofmann commented on #130
Hey and thanks so much for this! Comments inline:

Absolutely agree. Let me try and generalize -- I am trying to understand
how you envision the flow of variant information throughout puzzle.
Right now you have a mix of VCFs and GeminiDBs which then get processed,
put into an internal backend, and then exposed to the Puzzle user.

Which means that for any possible analysis or query we can come up

[2016-02-12 10:02] moonso commented on #130
Hi,
Sorry about this, it is a bit confusing.

you will need to either a) implement the query support yourself
internally in Puzzle, or b) write a wrapper for Gemini and another for
the VCFs.

Right now you can mix gemini and vcfs when loading cases but we will remove this. We have realized that it will be more or less impossible to implement the queries that we want if we allow a VCF and/or GEMINI

[2016-02-12 10:04] moonso commented on #130
(From gemini) Right now we would like to be able to use the inheritance tools from within the python interface, but it could be more stuff coming up later.
Since they have all the logic in place it might not be that difficult for them to implement, or what do you think?

[2016-02-12 10:08] ohofmann commented on #130
That's what I mentioned to Roman and Guillermo a while ago.

Got it now and makes perfect sense. Thanks!

Oliver

--
@fiamh
Skype: ohofmann
+44 795 621 5540

[2016-02-12 10:08] ohofmann commented on #130
On 12-Feb-16 10:04, Måns Magnusson wrote:

Agree, but let me check. More in a bit!

Oliver

--
@fiamh
Skype: ohofmann
+44 795 621 5540

[2016-02-12 10:11] moonso commented on #130
:+1:

[2016-02-12 12:14] henrikstranneheim opened #135 "CADD and 1000G filter does not seem to work"

[2016-02-12 15:44] #50 closed

[2016-02-12 15:44] #97 closed

[2016-02-12 15:44] #111 closed

[2016-02-13 10:59] vasiliosz commented on #90
I guess the implementation is there. Not really relevant on the variants listing page until you decide if and how to implement optional loading of more than 30 variants at a time

[2016-02-13 11:19] vasiliosz opened #137 "Improve filtering ui"
Here are some suggestions for improving the filtering ui:

* [ ] Sliders as input for frequency filtering, CADD scores and (not implemented) SV size for example
* [ ] Reduce size of Gene box
* [ ] Drop consequences / impact severity filters from SV mode
* [ ] Change colors of Filter and Reset buttons

<img width="1908" alt="inklistrad_bild_13_02_16_12_15" src="https://cloud.githubusercontent.com/a

[2016-02-14 19:42] moonso opened #138 "Add a gemini database with SV:s for testing"
Could anyone call sv:s from a non-sensitive case and create a small gemini database with a few samples? @vasiliosz , @J35P312 ?

[2016-02-14 19:44] moonso opened #139 "Create a VCF with sv:s for testing"
Use same VCF as in #138

[2016-02-15 08:23] moonso commented on #124
@Bianca-T @vasiliosz I can not find a relevant annoation from gemini to enter here...
Please come with suggestions!

[2016-02-15 10:28] moonso opened #140 "VCF adapter Refractor and testing"
- [x] Test init
    - [x] Test initializing with file
    - [x] Test initializing with dir
    - [x] Test initializing without file
- [x] Test case_mixin
    - [x] Test individuals
    - [x] Test case
    - [x] Test cases
- [x] Test varant_mixin
    - [x] Test variant
    - [x] Test variants
    - [x] Test _get_genotypes
    - [x] Test _get_transcripts
    - [x] Test _variants
    - [x] Test _form

[2016-02-15 10:28] guillermo-carrasco commented on #32
I don't :-/ I'll ping @ohofmann just in case he has an idea of how this should be visualized.

[2016-02-15 10:30] guillermo-carrasco commented on #95
What kind of feedback were you thinking about? Log message/pop up/something in the interface?

[2016-02-15 10:32] robinandeer commented on #95
There is a very nice feature in Flask called `flash` which is kinda for these things - would you like to add that functionality @guillermo-carrasco?

It will likely be some kind of list on the base layout

http://flask.pocoo.org/docs/0.10/patterns/flashing/

[2016-02-15 10:34] guillermo-carrasco commented on #133
Awesome! Can this be closed then?

[2016-02-15 10:35] moonso commented on #133
When merged I guess

[2016-02-15 10:37] ohofmann commented on #32
I don't think we'll be looking for all-variants-in-all-cases regularly. All variants at a given location, maybe (which will rarely be larger than a gene), and that's mostly for context. Could do this via ad hoc aggregation (sum of samples with this mutation, with mutations of a certain impact in this gene, etc.).

[2016-02-15 10:40] guillermo-carrasco commented on #90
well, right now as @vasiliosz says, it there and can be used to sort the rows by the already loaded variants. Also I notices that Column reordering is off. Any interest in enabling it? Doesn't hurt :-)

[2016-02-15 10:42] robinandeer commented on #90
:+1:

[2016-02-15 10:43] guillermo-carrasco commented on #137
Not in the list, but on Friday @robinandeer and me (mainly Robin) implemented the following behaviour:

* If there is not filter applied, the Filters dropdown is folded. Otherwise is unfolded.

This way the user quickly knows if a filter is being applied or not.

[2016-02-15 11:05] vasiliosz commented on #32
@Bianca-T might have some ideas/use cases

[2016-02-15 11:35] #133 closed

[2016-02-15 11:35] guillermo-carrasco commented on #133
Nice :-D

[2016-02-15 14:27] guillermo-carrasco commented on #95
Sure, I would need a bit more `-v` though. Like a use case scenario, you know what I mean?

[2016-02-15 14:38] robinandeer commented on #95
You are such a geek :sweat_smile:

Luckily I read you, hehe

When the error is detected on the server it should be handled gracefully and log a message using the `flash` function. The message should then show up during the next page load (taken care of by Flask) as a notice (maybe a popup in the top right corner?) should inform the user :)

[code]

[2016-02-15 15:32] guillermo-carrasco commented on #95
ah, nice :-) :eyeglasses: tack @robinandeer

[2016-02-15 19:23] Bianca-T commented on #32
I think it is very useful to have a function for searching all the cases.
Would use it for:
- search for mutations in all cases in a specific gene (great if frequency or impact filters could be added to this query); for example whenever a new gene is published in my field of research I currenlty use a gemini query to look for all variants (with certain characteristics) in my whole database;
- sear

[2016-02-15 19:49] vasiliosz commented on #124
aa_change and aa_length?

Skickat från min iPhone

[2016-02-15 19:52] moonso commented on #32
So is there any idea how we would present the result of such a query?

[2016-02-15 19:55] moonso commented on #124
Ok so should it look like `G/E, 80/362` ?

[2016-02-15 19:58] Bianca-T commented on #32
I would suggest a summary table with few but relevant info (e.g. the table in the variant page; genomic position, nucleotidic change, gene, effect, etc...), with the addition of the sample that carries the variant and his/her genotype at that specific variant. Even better with a hyperlink to the specific variant page for each case so that further exploring can be done.

Disclaimer: have no idea of

[2016-02-15 20:00] Bianca-T commented on #124
Yes, alternatively you can merge the information from the two columns into `G80E`, but this will be complicated for splice variants and frameshift, so I think `G/E, 80/362` is proper

[2016-02-16 06:26] robinandeer commented on #95
Any time, hacker :hamburger:
I look forward to reviewing your code

[2016-02-16 16:18] heuermh opened #142 "Implement Apache Spark+ADAM backend"
Wanted to drop this in to gauge interest -- we're looking for a front end for variant data stored in [ADAM format](https://github.com/bigdatagenomics/adam) and made available through [Apache Spark](http://spark.apache.org/).

[2016-02-16 20:15] moonso commented on #142
Hi! We have no experience with ADAM but if you can see how we could modify puzzle to show the data we are interested.
Do you have any example on what you want to display?

[2016-02-18 19:25] moonso opened #144 "All adapters do not have individual function"
There is a error when trying to access an individual from the interface

[2016-02-19 07:47] #144 closed

[2016-02-22 11:38] moonso commented on #139
How about this @vasiliosz , can you do it?

[2016-02-22 11:39] #89 closed

[2016-02-22 11:40] #74 closed

[2016-02-22 11:41] moonso opened #146 "Store custom gemini queries"
We should have a box in the index page where the user can store gemini queries and give them names.
These should then show up among the filters when using the gemini adapter.

[2016-02-22 13:54] vasiliosz commented on #139
Yes, but earliest Fri next week.

[2016-02-22 14:09] Bianca-T commented on #139
Can I help you with this? What would you like to have?

[2016-02-22 14:18] moonso commented on #139
A VCF with structural variants that is nonsensitive so we can put it on github

[2016-02-24 06:11] moonso opened #148 "Use puzzle config"
Right now users need username and password to use phenomizer. We should store stuff like that in a config stored in `--root`

[2016-02-24 09:51] guillermo-carrasco commented on #148
:+1:

[2016-02-24 13:27] moonso opened #149 "Load more does not work for vcf adapter"
Thank you @dnil :)

[2016-02-24 14:11] #148 closed

[2016-02-24 14:11] #149 closed

[2016-02-24 14:21] moonso opened #150 "Error when displaying a gemini variant"
`TypeError: _add_sv_coordinates() takes exactly 2 arguments (3 given)`

[2016-02-24 14:26] moonso opened #151 "Add link to HPO search service"
Where HPO terms are added we should have a link:
http://compbio.charite.de/hpoweb/showterm?id=HP:0000118

[2016-02-24 15:06] #150 closed

[2016-02-24 15:06] #151 closed

[2016-02-24 15:21] moonso opened #153 "Allow custom gemini queries"
User should be able to define gemini queries in filter window

[2016-02-24 15:54] #153 closed

[2016-02-24 16:16] dnil opened #155 "pyyaml in requirements"
pyyaml should now go in requirements.txt I guess? Cheers!

[2016-02-24 16:52] moonso commented on #155
Sorry about that :+1:

[2016-02-24 16:54] #155 closed

[2016-02-25 12:52] guillermo-carrasco opened #156 "Possibility to VIEW multiple VCFs/GEMINI DBs at once"
Instead of having to load them one by one?

[2016-02-26 08:34] moonso commented on #156
You could do it with a bash for loop like
[code]

[2016-02-26 08:38] guillermo-carrasco commented on #156
Ok VCF's can be loaded at once as well, just that if they're compressed then you need to specify a different pattern with `-p *.vcf.gz`.

[2016-02-26 09:47] guillermo-carrasco opened #158 "Handle lack of Phenomizer auth credentials"
If the user has not generated Phenomizer credentials, there should be a message, probably under the Phenotypes box, telling the user that he/she can add HPO terms, but the Gene List will not be created until credentials have been generated.

[2016-02-26 14:47] robinandeer opened #161 "Documentation + logo"
User guide and development guide

[2016-02-27 10:36] dnil opened #162 "Keep an alias/location file for common annotation program profiles"
A table/structure with locations for common annotations should be kept to make it easy to keep compatibility with common annotation programs w/o having to mod the code.

E.g.

frequency.EXaC
{
    VCF/INFO/EXAC
    VCF/INFO/MAF_EXAC
    VCF/INFO/CSQ/EXaC_MAF
    VCF/INFO/ANN/MAF_EXAC
    GEMINI/aaf_exac_all
}

{ frequency.1000GAF,
{
    GEMINI/aaf_1kg_all
    VCF/INFO/1000GAF
    VCF/INFO/CSQ/

[2016-02-27 14:54] moonso commented on #162
Good idea!

[2016-03-02 06:56] dnil opened #164 "Binding gene list to multiple cases fails in GUI"
When adding a gene list to a case, the dropdown for selecting cases changes to only show the case which now has the list bound. In order to bind to more cases one has to visit the page again.

[2016-03-02 07:10] moonso commented on #164
Ok thanks!

[2016-03-02 07:16] moonso commented on #161
We should make a common effort to fix the documentation. Maybe everyone that contributed can help out a little bit, what do you say @robinandeer , @brainstorm , @henrikstranneheim , @dnil , @guillermo-carrasco , @vasiliosz , @Bianca-T ?

[2016-03-02 09:11] guillermo-carrasco commented on #161
:+1:

[2016-03-02 09:28] brainstorm commented on #130
For the record, so that it doesn't get lost on slack conversations:

"""
I wrote up a quick example here:
https://gist.github.com/brentp/1f06b43a39c3af67b085
basically just create the appropriate object, e.g.:
model = CompoundHet(Args(db="../test/test.comp_het.db",
columns="chrom,start,end,impact_severity,impact,gene,transcript,max_aaf_all",
max_priority=3,
allow_unaffected=True))
and then iterate

[2016-03-02 17:33] vasiliosz commented on #130
:+1: for pytabix in the VCF adapter. I will have more to say about this in a few days when I've had a chance to test the recent changes, particularly search speed.

[2016-03-02 17:40] brentp commented on #130
Let me know if we can help on the gemini end.

FWIW, [cyvcf2](https://github.com/brentp/cyvcf2), which we use in gemini loading supports doing tabix queries out of the box, so doing a spatial query:

[code]
is hardly different from just streaming over the vcf:
[code]

the documentation for cyvcf2 is lacking, but the API is pretty simple. so it might be an option for you guys.

[2016-03-02 18:03] moonso commented on #130
Thanks @brentp , only problem is to add dependencies of numpy and cython...

[2016-03-02 18:06] moonso commented on #130
@vasiliosz I'm not ready with some performance stuff for the vcf adapter. There are som new things that will improve especially SV:s alot coming up

[2016-03-02 18:07] vasiliosz commented on #130
@moonso great, I'll wait for those

[2016-03-02 21:55] brainstorm commented on #130
@moonso, numpy and cython aren't though to install dependencies when installed with Anaconda or wheels (default on PyPi), IMHO. There's really tons of bioinfo packages using them nowadays, should be considered as "standard" deps for doing performance scientific computing, don't you think?

[2016-03-03 07:01] guillermo-carrasco commented on #130
Agree with @brainstorm :-) I lost my fear to these packages when I switched to Anaconda for package and virtual environments management. They're painless to install!

[2016-03-03 08:38] moonso commented on #130
Sure, then we should try it!

[2016-03-03 15:48] robinandeer commented on #130
@brentp: I'm not as experienced with parsing VCFs as @moonso but will `cyvcf2` parse e.g. the CSQ field or do you have to handle that outside?

[2016-03-03 15:53] brentp commented on #130
@robinandeer
you can get a parsed dict from the info as dict(variant.INFO). and get the keys from that.

I don't think anything will parse the CSQ. In gemini, I just grab the tab-delimited list of keys from the Description field in the vcf header and then the values from each variant info and zip them together.

[2016-03-03 15:58] moonso commented on #130
Yes we do it in the same way (with csq)

[2016-03-03 15:59] brentp commented on #130
[This](https://github.com/brentp/geneimpacts/) might also be of interest to you guys.

[2016-03-03 19:45] moonso commented on #158
:+1:

[2016-03-03 19:46] moonso commented on #156
Could we close this one @guillermo-carrasco

[2016-03-03 19:48] moonso commented on #142
Ok @heuermh , I think we will close this for now.
If there any more interest or ideas how this should be done you can just reopen.

[2016-03-03 19:48] #142 closed

[2016-03-03 19:58] moonso commented on #137
The filter box open when pushing `load more`

[2016-03-03 20:02] moonso commented on #95
Was this fixed @guillermo-carrasco , @robinandeer ?

[2016-03-04 12:31] guillermo-carrasco commented on #156
but one still can't load several GEMINI dbs at once, right?

[2016-03-04 12:39] guillermo-carrasco commented on #95
Hmm nope, I'll do it now.

[2016-03-04 12:41] moonso commented on #156
No and it does not really make sense to do so I guess...
The idea with gemini is to collect samples in one database?

[2016-03-04 12:42] moonso commented on #156
Why not do a bash-loop like proposed if you really want to do it?

[2016-03-04 12:43] moonso commented on #95
:+1:

[2016-03-04 12:46] vasiliosz opened #167 "Access geminis --gt-filter for custom queries in gemini adapter?"
I use these all the time when working directly against gemini.
http://gemini.readthedocs.org/en/latest/content/querying.html#gt-filter-filtering-on-genotypes

For example:

[code]

[2016-03-04 12:49] vasiliosz commented on #167
Or similar filters when using the built-in tools of gemini

[code]

[2016-03-04 13:05] moonso commented on #130
@brentp could you add some documentation to cyvcf2 on how to access headers and how to get variants in a region? We should defenitely use this but it is a bit hard to get into right now :smile:
Some quick questions:
- Are there any restrictions on the vcf file?
- Does it check each value to what is specified in the header?
- Does the file need to be ordered on position?
- Do you need any index?
Th

[2016-03-04 13:33] #135 closed

[2016-03-04 14:02] moonso commented on #130
@brentp , I could get some of the answers by looking at the tests :+1:

[2016-03-04 14:27] dnil opened #170 "Auto enable filters and columns based on vcf header"
Would be nifty to check at least header (best existence of actual tag for any variant) to see what filters and display columns to enable. Empty ones, or filters for non-annotated properties, make little sense.

[2016-03-04 14:32] brentp commented on #130
yeah, it definitely needs more docs. but as you found the tests are fairly comprehensive.

it has to be parse-able by htslib

yes, well htslib does

only if you want to do regional queries

[2016-03-04 15:09] guillermo-carrasco commented on #156
yeah ok, or we can merge the DBs outside puzzle.

Thanks!

[2016-03-04 15:09] #156 closed

[2016-03-04 15:55] moonso commented on #170
Question is what to look for...

[2016-03-04 15:56] dnil commented on #170
Precisely! #162?

[2016-03-04 15:56] moonso commented on #130
Ok, I noticed it does not care about so many things which is good for us!
I will give it a try.

[2016-03-04 15:57] moonso commented on #170
Yes I know, we have tried to go down that road before and i'm a bit scared for that...

[2016-03-04 15:58] moonso commented on #156
:tanabata_tree:

[2016-03-04 16:03] #95 closed

[2016-03-04 16:03] #158 closed

[2016-03-04 16:09] dnil commented on #170
What went wrong then? Anything we can mitigate?
Options? Keep code dependent on particular annotation programs and versions ranges, and implement different annotator conventions as needed in various places, while keeping the number of things to read at a minimum?

[2016-03-04 16:10] dnil commented on #170
Ideally, annotation programs would reach a concensus on field names in INFO ANN/CSQ..

[2016-03-04 17:56] moonso opened #172 "Use cyvcf2 to parse VCF:s"
When there is a bgzipped vcf we should use cython for parsing, but still allow unzipped vcf files.

[2016-03-05 12:31] vasiliosz commented on #139
See discussion in #141. Should use 1kg phase 3 data (for example: ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20130502//ALL.chr1.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz)

[2016-03-06 11:26] moonso commented on #172
Ok to use cyvcf we need to rewrite some parts of the VCF adapter but it is not to much.
The thing that concerns me is that we have to use bgzipped files, if we decide to use cyvcf I think we should skip the old way of doing it otherwise there will be to much code to maintain.
So what do you think @robinandeer , @guillermo-carrasco , @brainstorm , @henrikstranneheim , @dnil , @vasiliosz , is it rea

[2016-03-06 15:06] brainstorm commented on #172
IMHO, if the changes are minimal, I think it is worth it:

1. Just a bgzip away from using a faster VCF reader (optimized with cython), also saving up disk space by requiring compression (useful when scaling up analysis, i.e ICGC/TCGA datasets or similar).
2. Avoid regression patches and maintenance such as the one that [popped up a few days ago](https://github.com/moonso/vcftoolbox/pull/5). Using

[2016-03-06 15:11] dnil commented on #172
Fast seems prettier than overly general. Keeping files bgzipped must be better practice.
But, general is good for acceptance. Perhaps attempt to bgzip & index if fed a plain vcf?

[2016-03-06 15:31] dnil commented on #172
Guess we don't want pytabix again for now. Do you have experience with e.g. [Bio.bgzf] (http://biopython.org/DIST/docs/api/Bio.bgzf-module.html)? No idea about the speed, but it would be a one-off per file.

[2016-03-06 16:07] moonso commented on #172
@brainstorm I'm not sure if we will gain alot of speed, it is rather to use a correct vcf parser. But I agree with your second point.
The benefits of doing the old way is that we have full control when new things pop up, such as when we alowed vcf files that is called by Manta.
If we use a VCF-parser that is community based it could take longer time to get it to adapt to softare specific formats.

[2016-03-06 16:07] vasiliosz commented on #172
I bgzip my VCFs anyway. Generally, there is no reason why all genomic/variant data files shouldn't be zipped and indexed (even FASTQ files, for parallell alignment). So I say use whatever tools/formats is fastest internally. In Gemini they do what Daniel suggested, bgzip on load - but using the command-line version - altough there the load process is quite slow anyway, so its not an obvious delay.

[2016-03-06 16:09] moonso commented on #172
@dnil yes I have also thought about that, see https://github.com/brentp/cyvcf2/issues/7, if that would work there is no problems, then we will just try to compress it before loading/viewing.
I have no experience with Bio.bgzf...

[2016-03-06 16:12] moonso commented on #172
@vasiliosz agree. But in the end I think bgzipped files if a small requirement compared to the benefits.

[2016-03-06 18:05] dnil commented on #172
Make a small test with cyvcf and a range of sv variants to make sure it is handling them ok first?

[2016-03-06 20:44] moonso commented on #172
I'm on it @dnil !

[2016-03-06 20:45] moonso commented on #172
I misunderstod, we can use cyvcf2 without zipped files so it is straight forward :rocket:

[2016-03-07 12:12] #90 closed

[2016-03-07 12:19] robinandeer commented on #108
We've decided that it will add too much complexity for now so we will close this for now, it's more for a hosted tool

[2016-03-07 12:19] #108 closed

[2016-03-09 08:02] #122 closed

[2016-03-09 13:40] #98 closed

[2016-03-09 13:40] #172 closed

[2016-03-09 13:46] #138 closed

[2016-03-09 13:46] #139 closed

[2016-03-09 13:48] moonso opened #178 "Guess mode and variant type"
We should let puzzle find out if it is looking at a gemini db or a vcf and if it is sv:s or snv:s

[2016-03-09 13:50] moonso commented on #178
When `puzzle` is used to look at files or a directory of files it should create a in memory sqlite database so that the interface will be identical to when it is viewing a puzzle database

[2016-03-09 14:15] henrikstranneheim opened #179 "CLI additional information"
- [ ] Puzzle load: “WARNING  52 already exists in the database” but does it overwrite the case or not? Would be nice with some additional information.
- [ ] Puzzle cases/individuals: If database is empty of cases/individuals provide that information to user

[2016-03-09 14:17] henrikstranneheim opened #180 "Language"
Currently there is a mix of swedish and english in the webb interface. For instance: “Bläddra Ingen fil vald”

Let's stick to english, :)

[2016-03-09 14:22] henrikstranneheim opened #181 "Alignment view just like in scout"

[2016-03-09 14:40] henrikstranneheim opened #182 "Docs"
- [ ] Currently only support GRCh37/hg19
- [ ] What should be in the config

[2016-03-09 14:41] henrikstranneheim opened #183 "SNPedia link"
Goes to start page for SNPedia - would be better to start at the variant info at SNPedia?

[2016-03-09 14:43] henrikstranneheim opened #184 "External links"
Would be nice to have (hardcoded for now):
- [ ] HPA
- [ ] entrez
- [ ] STRING
- [ ] Reactome

[2016-03-09 14:50] henrikstranneheim commented on #96
Compounds are now sorted in ascending order. Would be nice to have them in descending order i.e. 40, 30, 20 etc, so that the most important one are presented first and not last

[2016-03-09 14:57] henrikstranneheim opened #185 "Add EXACAF as key name to display Exac frequency"

[2016-03-10 15:20] robinandeer commented on #180
I agree it might look weird, but in that case it's the browser that decides based on which language settings the computer has - on my computer is show up as "Choose file - no file chosen" :/

[2016-03-10 15:40] robinandeer commented on #178
If we want to use some kinds of notifications, I like how thes ones look:

https://sciactive.github.io/pnotify/

[2016-03-10 15:43] moonso commented on #180
But if the browser chooses there should be no problem for the user right??

[2016-03-10 15:46] moonso commented on #178
If it is lying there all the time I would go crazy..

[2016-03-10 18:56] henrikstranneheim commented on #180
No, then it should be fine.

Henrik Stranneheim Ph.D.
Department of Molecular Medicine and Surgery
Karolinska Institute
Science for Life Laboratory

E-mail: henrik.stranneheim@scilifelab.se <mailto:henstr18@kth.se>
Visiting address:
Science for Life Laboratory - SciLifeLab
Gamma building
Tomtebodavägen 23A
Delivery address:
Science for Life Laboratory - SciLifeLab
Gamma building
Tomtebodavägen 23B

[2016-03-10 21:29] #180 closed

[2016-03-11 07:40] robinandeer commented on #178
no, it would fade out after a set amount of seconds :zap:

[2016-03-11 07:43] moonso commented on #178
:+1:

[2016-03-11 09:52] dnil opened #188 "KeyError raised when cyvcf2 loads FindSV vcfs"
I'm getting a "KeyError" when cyvcf2 tries to fetch INFO-fields from a FindSV VCF. Known issue? Any additional refactor in progress around there or can I safely debug? ;-)

[code]

[2016-03-11 09:59] moonso commented on #188
Guess it has to do with inconsistent header but you should look closer.
We have a lot of wierd entries in our file but no complains yet...

[2016-03-11 10:08] dnil commented on #188
Yep, there were a couple of inconsistencies in the INFO variable types from FT. Works on my minimal test now. Will pass the issue on.. :)

[2016-03-11 10:20] moonso commented on #188
Good. Can we close?

[2016-03-11 10:20] #188 closed

[2016-03-11 14:51] moonso commented on #185
Fixed by #186

[2016-03-11 14:51] #185 closed

[2016-03-11 14:52] moonso commented on #178
Closed by #186

[2016-03-11 14:52] #178 closed

[2016-03-11 14:52] #140 closed

[2016-03-14 11:52] #96 closed

[2016-03-14 12:05] moonso commented on #124
Ok, next problem with this one:
`aa_change` and `aa_length` is on gene level not transcript level in gemini.
So we will only get information for the most severe change. Not sure how/where to display this..
We can not display it on transcript level since it will not be true for all transcripts and in the gene table it would also be misguiding since it is only information about one transcript.

[2016-03-14 13:19] moonso commented on #124
Sorry I might have been mistaken about this...

[2016-03-14 13:36] guillermo-carrasco commented on #137
Hi @vasiliosz ,

Some comments:

* I'm not sure sliders are the best choice always in case of numeric input. If the range is too big and/or requires a lot of precision (i.e lots of decimals) can be very uncomfortable to slide a bar. I can see in the frequency filter, for example, that there is `0.0004`, this is the kind of precision I'm talking about. What are the possible ranges and precision for

[2016-03-14 13:52] vasiliosz commented on #137
Sounds good @guillermo-carrasco. Agree that sliders may not be practical always, depending on the needed resolution. But it is also not completely intuitive at the moment that you're entering max frequency as fraction.

Does puzzle not count the rows at any point? During load or any other time? If so, I agree with your proposal. The idea is to set some sort of reference for the effect of variant f

[2016-03-14 14:07] dnil commented on #137
Iff the vcf has been indexed, the number of records would presumably be in the index..

[code]

[2016-03-14 14:14] guillermo-carrasco commented on #137
aha! @robinandeer , @moonso does the `VCF` plugin consider this information?

[2016-03-14 14:22] moonso commented on #137
The problem is to know how many variants that pass a specific filter...

[2016-03-14 18:19] henrikstranneheim opened #191 "Add support for "pinning" a variant"

[2016-03-15 14:53] moonso commented on #167
Sure this will be relevant when we add functionality for doing analysis on multiple families/individuals at the same time

[2016-03-16 07:45] moonso commented on #184
Could you add links to how these should be linked?

[2016-03-16 09:19] henrikstranneheim commented on #184
Copy Scout.

[2016-03-16 09:33] vasiliosz commented on #167
Relevant for single families (trios for example), but maybe that's what you mean.

[2016-03-16 11:38] moonso opened #192 "Query on range"
It should be possible to have a filter where one query on a range in the variant source.
This issue is a subset of #130
- [x] vcf adapter
- [x] gemini adapter

[2016-03-16 11:41] #124 closed

[2016-03-16 12:14] moonso commented on #130
Hello all, I'll close this issue for now since most of the stuff is solved.
If there are other requests we can post (smaller) new issues.
It is possible to do range queries, search for high impact variants etc.

[2016-03-16 12:14] #130 closed

[2016-03-16 12:22] moonso commented on #167
So @vasiliosz is this a way to build inheritance queries in sql format?
We hope to be able to use the built in tools from the python api, think @guillermo-carrasco is looking at that...

[2016-03-16 12:41] vasiliosz commented on #167
It works as an extension of both "normal" queries (via the `-q` flag) and the "built-in tools" (such as de_novo, comp_hets, etc)

[2016-03-16 12:58] #192 closed

[2016-03-18 12:11] moonso opened #194 "Comments"
Add comments to cases and variants

[2016-03-18 12:12] moonso opened #195 "Synopsis"
Add a synopsis field for cases with markdown support

[2016-03-18 12:14] moonso opened #196 "impact_severity filter is not working as suspected"
There are no variants when filtered on `'MEDIUM'`.
Thanks @vasiliosz

[2016-03-18 12:15] moonso commented on #196
The `MEDIUM` level was stored as 'MED' both in gemini and vcf plugins, this is why the filter didn't work

[2016-03-18 12:19] #196 closed

[2016-03-18 13:15] #194 closed

[2016-03-18 14:16] #195 closed

[2016-03-18 14:19] vasiliosz opened #199 "Indicate which variants have comments in the variants listing page"
...and allow listing/filtering of only "tagged"/commented variants

[2016-03-18 14:23] moonso commented on #199
:+1:

[2016-03-18 17:51] moonso commented on #191
Fixed in #201

[2016-03-18 17:51] #191 closed

[2016-03-21 09:04] robinandeer opened #202 "Make executable app"
This is a project that we could use but it only works on OSX
https://github.com/burrows-labs/pyship

[2016-03-21 12:02] guillermo-carrasco opened #203 "Show some feedback when loading variants"
It takes a couple of seconds to load 10K variants in memory, would be nice to give some feedback to the user. Something like for example a modal saying that puzzle is loading variants or so, that is closed whenever the variants are loaded.

Could be implemented using [SSE's](http://www.html5rocks.com/en/tutorials/eventsource/basics/)?

1. User chooses to load variants
2. Puzzle makes a request to

[2016-03-21 19:36] robinandeer commented on #203
DataTables can even perform queries on the server and filter/sort results with AJAX calls... Maybe a next step (https://datatables.net/examples/data_sources/server_side.html)

I'll look into loading the initial batch of variants using AJAX to DataTables

[2016-03-22 09:28] henrikstranneheim opened #204 "Migration of comments, HPO, gene lists, pinned variants etc when updating puzzle (via CLI)"

[2016-03-30 12:40] Bianca-T commented on #123
Hi,

I think the problem is still there. For each sample, all variants are loaded, even the one with HOM_REF genotype. This increase the number of variants displayed and therefore the speed of puzzle.

Only HET or HOM_ALT variants should be loaded for each samples (it would be as running "Select * from variants" --gt-filter "gt_types.sampleID == HET or "gt_types.sampleID == HOM_ALT").

/Bianca

![

[2016-04-06 09:08] henrikstranneheim opened #208 "Add CLNSIG field in Summary table"

[2016-04-06 09:11] henrikstranneheim opened #209 "Add annotation for region under evolutionary contraint"
- [ ] PhyloP
- [ ] GERP
- [ ] PHAST

[2016-04-06 09:12] henrikstranneheim opened #210 "Add OMIM phenotype inheritance model and link to phenotype"

[2016-04-06 13:09] #123 closed

[2016-04-06 15:21] moonso opened #211 "Add annotations"
Creating this issue to gather similar issues in one. In general we need suggestions of how to pick these from the vcf, what are the common named keys, are they often in VEP/SnpEff etc..
Please help out!

[2016-04-06 15:22] moonso commented on #211
##Inheritance
- [ ] Omim inheritance(with link)

[2016-04-06 15:23] #210 closed

[2016-04-06 15:24] moonso commented on #211
### Evolutionary constraint
- [ ] PhyloP
- [ ] GERP
- [ ] PHAST

[2016-04-06 15:24] #209 closed

[2016-04-06 15:25] moonso commented on #211
### Disease link
- [ ] CLNSIG

[2016-04-06 15:25] #208 closed

[2016-04-06 15:27] moonso commented on #146
Is this ready @robinandeer ? Should be fairly easy now that we have a model for the queries...

[2016-04-07 12:05] ohofmann commented on #211
We are currently generating this list for cancer samples (individual patients and cohorts). Give us a few weeks to finalise.

[2016-04-08 06:47] moonso opened #213 "Allow analysis on multiple individuals from different cases"

[2016-04-08 06:52] dnil opened #214 "Gene list searching appears to default to wildcard"
this becomes cumbersome for genes with short names (like AR or T) or genes in gene-families where one may want see TMEM5 but not TMEM52.

[2016-04-08 08:42] #91 closed

[2016-04-08 08:46] #183 closed

[2016-04-08 10:56] #78 closed

[2016-04-08 10:58] moonso opened #216 "Enable uploading of regions in bed format"
This would create a way to narrow the analysis to custom regions

[2016-04-08 11:15] dnil opened #217 "Frequency filter stopped working?"
Tested w/ Safari, VEP annotation, vcf-file, init,load&view.

[2016-04-08 11:16] moonso commented on #217
What happens?

[2016-04-08 11:17] dnil commented on #217
Absolutely nothing. Variants are displayed unfiltered.

[2016-04-08 11:21] dnil commented on #217
Where do you set max_freq now? Used to be part of the vcf-adapter variant_extras right?

[2016-04-08 11:23] moonso commented on #217
https://github.com/robinandeer/puzzle/blob/master/puzzle/plugins/vcf/mixins/variant_mixin.py#L316

[2016-04-08 11:27] dnil commented on #217
Thanks; just rediscovered the model part...

[2016-04-08 12:39] dnil commented on #217
Ah, just a missing call to _add_exac...

[2016-04-22 07:29] robinandeer commented on #182
closing and moving to #161

[2016-04-22 07:30] #182 closed

[2016-04-22 07:31] robinandeer commented on #213
How is this different from #32?

[2016-04-22 07:33] robinandeer commented on #214
Perhaps there's a way to look for exact matches and then only (or selectively) show that - else default to the current behaviour?

[2016-04-22 07:42] moonso commented on #213
The issues are very similar and should be collapsed.
The only difference is that #213 states that one should be able to decide which individuals to include.

[2016-04-22 07:52] robinandeer commented on #213
closing in favor of #32

[2016-04-22 07:52] #213 closed

[2016-04-22 08:13] robinandeer commented on #161
This is the new home for the docs: https://robinandeer.gitbooks.io/puzzle/content/

[2016-04-22 15:19] #146 closed

[2016-04-26 13:34] guillermo-carrasco commented on #161
oh, it look *much* nicer than the previous one! 😜

hehe, good job!

[2016-04-27 18:07] #214 closed

[2016-04-29 07:33] #217 closed

[2016-04-29 07:33] moonso commented on #217
This was fixed by your PR, right @dnil ?

[2016-04-29 07:36] moonso opened #225 "Create a proper test gemini database"
We should have a gemini database with "synthetic" variants so we always know what to expect when writing tests

[2016-04-29 07:57] dnil commented on #217
Right!

[2016-04-29 10:16] dnil commented on #225
👍🏻And the same variants in a vcf for the vcf adaptor part perhaps?

[2016-06-22 08:54] J35P312 opened #227 "File "cyvcf2/cyvcf2.pyx", line 155, in cyvcf2.cyvcf2.VCF.__init__ (cyvcf2/cyvcf2.c:7106) TypeError: Expected bytes, got path"
Hello there!
Recently I installed the latest version of puzzle, it was installed without any apparent error, however when I run the test example I get the following error:

Traceback (most recent call last):
  File "/home/jesper/miniconda2/envs/test_puzzle/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/home/jesper/miniconda2/envs/test_pu

[2016-06-22 20:56] ramaniak opened #228 "gemini plugin"
Hello,
I recently installed puzzle and was hoping to view a gemini db with it.

The install was fine ( I think). There are a couple of warning with the flask import and I am not sure if these are important?

[code]

I then ran the test as below and got the error: "TypeError: Expected bytes, got path"
[code]
and this seemed to go away if I gave it a path to a vcf instead of a folder. Though, I am n

[2016-06-29 06:36] moonso commented on #228
Hi Arun,

you need to have the python package `gemini` installed, we use this to access gemini databases through it's python api. If you can do:

[code]
it should work.

For the other problems we will have a look to see what is going on.

Regards,

Måns

[2016-06-29 06:42] moonso commented on #227
I'll have a look!

[2016-06-29 07:51] moonso commented on #227
This seems to be a version problem with cyvcf2.
If you downgrade version to 0.2.8 it should work.
I've updated the requrements file

[2016-06-29 07:51] #227 closed

[2016-06-29 09:06] J35P312 commented on #227
Thanks, now it works perfectly!

[2016-06-29 13:10] brentp commented on #227
Hi, I just happened to see this, could you try 0.4.0 (in bioconda)? And let me know how/if you can reproduce it there?

[2016-06-30 14:21] ramaniak commented on #228
Hello Måns

Thanks. On further digging and running py.test test/ I get the attached
log.  What stands out are the following errors:

-----
tests/plugins/gemini/test_gemini_case_mixin.py:1: in <module>
    from puzzle.plugins import GeminiPlugin
E   ImportError: cannot import name GeminiPlugin
----

---
E       KeyError: 'PHENOMIZER_AUTH'
----
------
"NameError: global name 'GeminiQuery' is not def

[2016-07-11 09:33] colindaven commented on #227
I just got this error using a newer version of cyvcf2 if that helps, also with the test data (as per the tutorial https://robinandeer.gitbooks.io/puzzle/content/topics/tutorial.html )

pip list | grep cyvcf2
cyvcf2 (0.4.2)

Works fine after installing  0.2.8 as above

[2016-07-11 16:47] brentp commented on #227
This error is because puzzle is sending a `path` object to cyvcf2 instead of string or bytes.
I suspect wrapping the call in str() would suffice.

[2016-09-29 13:07] johsko opened #229 "Puzzle crashed while visualising large CNV"
Puzzle crashed while visualising a large CNV. I got the following error-message;
how can I fix this?

Traceback (most recent call last):
  File "/Users/johlun/miniconda2/envs/puzzle/bin/puzzle", line 11, in <module>
    sys.exit(cli())
  File "/Users/johlun/miniconda2/envs/puzzle/lib/python2.7/site-packages/click/core.py", line 716, in __call__
    return self.main(*args, **kwargs)
  File "/Users/

[2017-01-24 14:11] colindaven opened #230 "path"
Hi everybody,

I see in the requirements path.py is needed. I tried to install all of these, and downgraded cyvcf2 to version 0.2.8 I believe.

A version for path.py is not stated in the requirements.txt

I have 10.0, is this too high/low a version ?
`pip list  | grep path
path.py (10.0)`

puzzle view minimal.vcf
Traceback (most recent call last):
  File "/usr/local/bin/puzzle", line 7, in <module

[2017-10-10 20:42] DamianSkrzypczak commented on #230
Hi, temporary solution is to downgrade path version by using:
`pip install path.py==7.7.1`
Issue comes from changes done so far in path library

[2017-10-10 20:49] DamianSkrzypczak opened #231 "Incompatible usage of GeminiPlugin"
Hello,

issue is during execution of command `gemini browser my.db --use puzzle`
there is problem with compatibility of interfaces:

In line 267 of file [gemini_browser.py](https://github.com/arq5x/gemini/blob/master/gemini/gemini_browser.py)
there is usage of `GeminiPlugin` which class which comes from line 22 (__init__ is most important in this case, that's why line 22)  of file [plugin.py](http

[2017-10-10 21:10] DamianSkrzypczak commented on #231
Also webiste that comes from `gemini browser my.db --use puzzle`
is empty

[2019-11-24 18:30] bittner commented on #101
Would it maybe make sense to make `show_default=True` by default when a `default=` is set? This was also [mentioned on StackOverflow](https://stackoverflow.com/questions/39359420/type-and-default-input-value-of-a-click-option-in-help-option) not too long ago.